<div class="grid p-3">
    <div class="col-12 mt-5 md:col-6 md:mt-8">
        <div class="flex flex-column">
            <span class="text-lg mb-4">Login</span>
            <mat-form-field class="example-full-width">
                <mat-label>Usuario</mat-label>
                <input type="text" matInput placeholder="Nombre del usuario">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Contraseña del usuario">
            </mat-form-field>

            <button  mat-flat-button color="primary">
                <mat-icon>save</mat-icon>
                Ingresar
            </button>

            <div class="flex justify-content-end mt-5">
                <a routerLink="/auth/new-account" routerLinkActive="router-link-active" >¿No tienes cuenta?</a>
            </div>
        </div>



    </div>




</div>